<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>
</head>
<body>
    <h1 class="head"><%= user_hash %></h1>
    <div class="line start"></div><div class="line middle"></div><div class="line end"></div>
    <p class="texts"> 
    Static folder sat to "views" folder <br>
    HTML head loaded from "partials/header.ejs" folder using EJS <br>
    CSS loaded from views/styles/mainStyle.css 
    </p>
</body>

<script>
  const userHash = <%- JSON.stringify(user_hash) %>
  window.intercomSettings = {
    app_id: "gsjyun1u",
    user_id: "123", // User ID
    user_hash: userHash // HMAC using SHA-256
  };
</script>

<script>
// We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/gsjyun1u'
(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/gsjyun1u';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
</script>
</html>